name = "habitpunch"
main = "./workers/app.ts"
compatibility_date = "2025-08-11"
compatibility_flags = [ "nodejs_compat" ]

[[d1_databases]]
binding = "DB"
database_name = "habitpunch_db"
database_id = "" # Fill your database_id!
migrations_dir = "drizzle/migrations"